@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 35%, rgba(38,80,115,1) 100%);
}

.container {
    border: 5px solid;
    width: 700px;
    margin-top: 8rem;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px
}

div>label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

input[type="radio"],
input[type="number"] {
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.bmi-form-gender {
    display: inline;
    margin-right: 5px;
}

/* result BMI */
#kekurangan {
    color: blue;
    font-weight: bold;
}

#normal {
    color: green;
    font-weight: bold;
}

#kelebihan {
    color: orange;
    font-weight: bold;
}

#obesitas {
    color: red;
    font-weight: bold;
}
