html{
    font-family: sans-serif;
    line-height: 1.15;
}

body{
    background-color: #f5f4f1;
}

header>h1{
    text-align: center;
}

.main-container {
    display: flex;
}

.container-item {
    border: 1px solid;
    width: 100%;
    padding: 10px;
}
.container-item>h2 {
    text-align: left;
}

.container-result,.container-form {
    text-align: center;
    background-color: #b8ac95;
    padding-top: 1px;
    padding-bottom: 10px;
    border-radius: 7px;
}

.container-form {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.container-form>div {
    padding: 8px;
}

button {
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
    border: 0px;
    border-radius: 8px;
}

#calculate-button {
    background-color: #8a7a5d;
    color: white;
}

.form-item {
    height: 22px;
    border: 0px;
    border-radius: 4px;
    background-color: whitesmoke;
}